.zordform-field:disabled,
.zordform-field {
    border: 2px solid #D4D0BA !important;
    padding: 0 !important;
    width: 50px !important;
    box-shadow: none !important;
    vertical-align: middle;
}

.zordform-result-button {
    border: 1px solid #D4D0BA !important;
    background: #D4D0BA !important;
    color: #000;
    padding: 0 !important;
    width: 100px !important;
    vertical-align: middle;
    box-shadow: none !important;
    margin-right: -2px !important;
}

.zordform-result-button:focus,
.zordform-result-button:hover {
    cursor: pointer !important;
}

.zordform-result-span {
    border: 2px solid #D4D0BA !important;
    padding: 0 !important;
    width: 80px !important;
    vertical-align: middle;
    color: #000;
    font-weight: bold;
}

